p {

    text-align: center;
    font-size: 30px;
    color: purple;
}


body {

    background-image: url(https://images.unsplash.com/photo-1517093602195-b40af9688b46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


#pic1 {

display: block;
margin: auto;


}


#pic2 {

display: block;
margin: auto;
margin-top: 30px;



}

#pic3{
    display: block;
    margin: auto;
}

#pic4 {

    display: block;
    float: left;
    
    
    }
    
    
    #pic5 {
    
    display: block;
    float: right
    
    
    
    }
    
    #pic6{
        display: block;
        margin-bottom: 90px;
        margin-left: 50px;
    }

    #pic7 {
        display: block;
        margin: auto;
    }