table {
    margin: 0px auto;
}


legend {

    color: darkgoldenrod;    
}

input {

display: block;

margin: 0px auto ;

padding: 5px 0 ;

width: 50%;
text-align: center;
}

label {
    width: 50%;
    text-align: center;
    margin: 10px auto ;
  display: block;


}







tr {
    background-color: darkorange;
    text-align: center;
    font-size: 23px;


    
}

table p {
                width: 100px;
                padding: 9px;
            }

            body p {
                text-align: center;
    font-size: 30px;
    color: darkcyan;
    
}



th {
    margin: 8px;
    padding: 9px;
background-color: darkorange;
text-align: center;
font-size: 20px;


}


h1 {
    background-color: rgb(197, 183, 183);  text-align: center; color: rgb(76, 82, 94);
}
body{


    background-image: url(https://images.squarespace-cdn.com/content/v1/526c5af8e4b039ceb7d8eab7/1550272104682-5SUIOBWSZD6HMTW7NX6M/ke17ZwdGBToddI8pDm48kKtijf5x5S0rIV7X_qDH3dB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UaZbTVdO5VSPAOxIcVIbmIFLIFeVDbQiz7iBIgNCzklBDD2o6CESiqIlH5ssNFrtmA/pomme+batch+2+%2843+of+103%29.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: x-large;

}




